header{
    height: 50vh !important;
    background: url(../../../../../heroes/header.jpg) no-repeat fixed center;
    background-size: cover;
}

h1{
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
}